<header>
    <div class="cont-header">   
        <div class="inner-logo">
            <a href="/"><img src="/img/Designer2.png" alt="logo" width="100px"></a>
        </div>
        <div class="menu-hamburguesa">
            <i class="fa-solid fa-bars fa-2xl" style="color: #353cff;"></i>
        </div>
        <div class="inner-botones1">
            <div class="inner-compra">
                <a class="btncompra" href="/">
                    <h3>Comprar</h3>
                </a>
            </div>
            <div class="inner-venta">
                <a class="btnventa" href="#">
                    <h3>Vender</h3>
                </a>
            </div>
            <div class="inner-finanza">
                <a class="btnfinanza" href="#">
                    <h3>Financiaciones</h3>
                </a>
            </div>
            <div class="inner-acerca">
                <a class="btnacerca" href="#">
                    <h3>Acerca de Nosotros</h3>
                </a>
            </div>
            <% if (typeof locals.isAdmin !== "undefined" && locals.isAdmin) { %>
                <div class="inner-admin">
                    <a class="btnacerca" href="/admin/">
                        <h3>Administrar</h3>
                    </a>
                </div>
            <% } %>
        </div>
        <div class="inner-botones2">
            <% if (locals.isLogged) { %>
                <a href="/products/carrito" class="carrito">
                    <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #353cff; margin-right: 2vw;"></i>
                </a>
                <a href="/users/profile" class="perfil">
                    <i class="fa-solid fa-user fa-2xl" style="color: #353cff;"></i>
                </a>
                <a href="/users/logout" class="logout">
                    <i class="fa-solid fa-door-open fa-2xl" style="color: #353cff;"></i>
                </a>
            <% } else { %>
                <a href="/users/login" class="perfil">
                    <i class="fa-solid fa-user fa-2xl" style="color: #353cff;"></i>
                </a>
                <% } %>
        </div>
    </div>
</header>